@use "../../styles/mixins/" as m;
@use "../../styles/constants/" as c;

.logout {
  //   @include m.flex(center, center, row);
  //   row-gap: 12px;
  //   column-gap: 12px;
  //   background-color: c.$C_WHITE;

  .signout {
    @include m.flex(space-evenly, center, column);
    width: 500px;
    height: 400px;
    > svg {
      width: 100px;
      height: 100px;
    }
    > button {
      @include m.flex(center, center, row);

      width: 80%;
      height: 52px;
      border-radius: 2px;
      font-weight: 700;
      font-size: larger;
      background-color: c.$C_PRIMARY;
      color: c.$C_WHITE;
    }
  }
}
