@use "../../styles/mixins/" as m;
@use "../../styles/constants/" as c;
.cart {
  cursor: default;
  @include m.flex(center, center, column);
  width: 440px;
  height: 300px;
  padding: 4px 16px;
  row-gap: 8px;
  // overflow: auto;
  background-color: c.$C_WHITE;

  .cartIcon {
    width: 100px;
    height: 100px;
  }
  .cartBtn {
    //flex justify-center w-32 p-4 text-gray-400 font-bold border border-gray-400 border-2
    @include m.flex(center, center, row);
    // width: 140px;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: 600;
    color: c.$C_GRAY;
    border: 1px solid c.$C_GRAY;
    &:hover {
      background-color: c.$C_GRAY;
      color: c.$C_WHITE;
      border-color: transparent;
    }
  }
}
