@use "../../../styles/mixins/" as m;
@use "../../../styles/constants/" as c;
.cart {
  padding: 4px 0;
  column-gap: 8px;
  max-height: 160px;
  justify-content: space-between;
  border-bottom: 2px solid c.$C_LIGHTGRAY;
  .imgContainer {
    width: 24%;
    @include m.flex(flex-start, center, row);
    img {
      object-fit: contain;
      height: 100%;
      //   max-width: 80px;
      // max-height: 500px;
    }
  }
  .productDetails {
    @include m.flex(space-evenly, start, column);
    width: 72%;
    height: 100%;
    row-gap: 12px;
  }

  .deleteBtn {
    @include m.flex(start, center, column);
    > svg {
      width: 24px;
      height: 24px;
      color: c.$C_LIGHTGRAY;
    }
  }
}
