@use "../../styles/mixins/" as m;
@use "../../styles/constants/" as c;
.product {
  width: 340px;
  height: 400px;
  border: 1px solid c.$C_LIGHTGRAY;
  border-radius: 4px;
  @include m.flex(space-evenly, center, column);
  row-gap: 12px;
  img {
    object-fit: contain;
    width: 200px;
    height: 200px;
  }
  .button {
    @include m.flex(center, center, row);
    padding: 8px 12px;
    // border: 1px solid c.$C_LIGHTGRAY;
    // color: c.$C_LIGHTGRAY;
    background-color: c.$C_WHITE;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      background-color: c.$C_GRAY;
      color: c.$C_WHITE;
      border-color: transparent;
    }
  }
  .price {
    @include m.flex(center, center, row);
  }
}
