@use "../../styles/mixins/" as m;
@use "../../styles/constants/" as c;
.cart {
  @include m.flex(center, center, column);
  padding: 60px;
  row-gap: 28px;

  .cartIcon {
    width: 300px;
    height: 300px;
  }
}
